/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --blue: #1982c4;
  --pink: #ef476fff;
  --orange: #ffca3a;
  --purple: #6a4c93;
  --green: #8ac926;
  --yellow: #f8ff13;
}

/* CSS HEX */
/* --paradise-pink: #ef476fff;
--orange-yellow-crayola: #ffd166ff;
--caribbean-green: #06d6a0ff;
--blue-ncs: #118ab2ff;
--midnight-green-eagle-green: #073b4cff; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background: no-repeat fixed
    linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #1982c4, #ffca3a);
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.btn-row {
  display: flex;
  gap: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.question {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  border-radius: 0.5rem;
}

.question a {
  color: #118ab2ff;
  text-decoration: underline;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form {
  padding: 1rem;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #118ab2ff;
  border-radius: 5px;
  background: #118ab2ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--pink);
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(17, 138, 178, 0.749);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.question-edit {
  background-color: white;
}

.btn-fa {
  cursor: pointer;
}

.btn-fa:hover {
  color: rgba(17, 138, 178, 0.749);
}

.wellcome {
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;
}

.wellcome h1 {
  font-size: 3rem;
}

.wellcome img {
  width: 200px;
}

.stats ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.stats li {
  width: 100%;
}

.latest-hero {
  justify-self: flex-end;
  background-color: var(--blue);
  color: white;
}

.fade-in {
  animation: fade;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.back-and-forth {
  position: absolute;
  animation: backAndForth 1s infinite alternate-reverse;
}

.spin {
  animation: spin 10s infinite;
  animation-delay: 1s;
}

.html {
  background-color: var(--blue);
  color: white;
}

.javascript {
  background-color: var(--green);
}

.css {
  background-color: var(--pink);
}

.framework {
  background-color: var(--orange);
}

.backend {
  background-color: var(--purple);
  color: white;
}

.history {
  background-color: var(--yellow);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .form {
    width: 100%;
    padding: 1rem;
  }

  .content {
    width: 100%;
  }

  .questions {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    padding: 1rem;
  }

  .header {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backAndForth {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(-20px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }
  10% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
